.contact {
    padding: 60px 20px;
    text-align: center;
    background-color: #f5f5f5;
  
    h2,
    h3 {
      margin-bottom: 20px;
      font-size: 32px;
      color: #00695c;
    }
  
    .mapContainer {
      position: relative;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      
      img {
        width: 1500px;
        border-radius: 10px;
        margin-left: -350px;
      }
      
      .contactForm {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 500px;
        background: rgba(255, 255, 255, 0.5); // Slightly opaque background to ensure readability
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        input, textarea {
          width: 100%;
          margin: 10px 0;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.5); // Transparent background
          color: #333; // Text color
          font-size: 16px;
  
          &::placeholder {
            color: #666; // Placeholder text color
          }
        }
  
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          background-color: #00695c;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            background-color: #004d40;
          }
        }
      }
    }

    @media (max-width: 767px) { /* Mobile */
      height: 180vw;

      .mapContainer {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        
        img {
          width: 100%; /* Make the image responsive */
          max-width: 1500px;
          border-radius: 10px;
          display: block;
          margin: 0 auto;
        }
        
        .contactForm {
          position: relative;
          margin-top: 45vw;
          margin-left: -45vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 82vw;
          max-width: 500px;
          background: rgba(255, 255, 255, 0.8); /* Slightly opaque background for readability */
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }